.orders {
  background-color: #efefef;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order-card {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  background-color: $white;
  cursor: pointer;
  .order-info {
    display: flex;
    gap: 12px;
    align-items: center;
    img {
      width: 110px;
      height: 110px;
    }
  }
  .order-total {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 700;
  }
}
