.seller-products-detail {
  background-color: $white;
  padding: 20px 40px;
  border-radius: 15px;
  .group-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    button {
      padding: 10px;
      background-color: $paynes-gray;
      color: white;
      border: none;
      border-radius: 4px;
      font-family: inherit;
      cursor: pointer;
    }
  }
  table {
    border-collapse: collapse;
    border-radius: 10px;
  }
  th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
    text-align: center;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
  }
  td:nth-child(2) {
    text-align: left;
  }
}
