// PRIMARY COLORS
$white: #fff;
$black: #252527;

// FIGMA COLORS
$bg-blue: #bad7e9;
$paynes-gray: #587785; // mainly used in login, logout page
$noti: #724d4d;
$light-gray: #d9d9d9;
$dark-gray: #acacac;
$card-gray: #f0f0f0;
